[submodule "thirdparty/kaguya"]
	path = thirdparty/kaguya
	url = https://github.com/satoren/kaguya
[submodule "thirdparty/pugixml"]
	path = thirdparty/pugixml
	url = https://github.com/zeux/pugixml
[submodule "thirdparty/cppformat"]
	path = thirdparty/cppformat
	url = https://github.com/cppformat/cppformat
